.main {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
  font-family: 'Sura';
  font-weight: bold;
}
body {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: auto;
}
.title {
  position: relative;
  text-align: center;
  width: 100%;
  cursor: default;
  color: white;
  margin: auto;
  font-size: 64px;
}
.subtitle {
  position: relative;
  text-align: center;
  width: 100%;
  cursor: default;
  color: white;
  margin: auto;
  font-size: 46px;
  margin-top: -20px;
}
.quotes {
  display:none;
  height: auto;
}

.headers {
  position: relative;
  width: auto;
  height: 20%;
  margin-top: 2%;
  text-align: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  list-style: none;
}
.header {
  position: relative;
  margin: auto;
  background-repeat: no-repeat;
  background-position: top center;
  width:25vw;
  height:32vh;
  background-size: 10vw 25vh;
  text-align: center;
  color: white;
  font-size: 64px;
  border-bottom: 10px solid white;
  border-radius: 1vw;
  line-height: 56vh;
  display: inline-block;
}
.header:hover {
  background-color: #6D6D6D;
  border-radius: 1vw;
  cursor: pointer;
}
.row {
  width: 760px;
  height: 152px;
  margin: auto;
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  border: 4px solid white;
  cursor: pointer;
}
.row-image:hover > .row-text {
  display: block;
}
.row-text {
  position: absolute;
  background-color: white;
  margin-left: 1%;
  margin-top: 1%;
  font-size: 24px;
  text-align: center;
  word-wrap: normal;
  font-weight: bold;
  color: black;
  border: 2px solid black;
  padding-left: 2%;
  padding-right: 2%;
  display: block;
}
.fieldtitle {
  text-align: center;
  color: white;
  display: block;
  font-size: 64px;
  margin-bottom: 0;
}
.row-image-illmadecoder {
  background-image: url(/images/illmadecoder_card.jpg);
}
.web {
  background-image: url(/images/shield.png);
}
.self {
  background-image: url(/images/armor.png);
}
.work {
  background-image: url(/images/weapon.png);
}
.web-field {
  display:none;
  margin-top: 2.5%;
  margin-left: 25%;
  margin-right: 25%;
}
.self-field {
  display: none;
  margin-left: 25%;
  color: white;
  margin-right: 25%;
  font-size: 18px;
  margin-top: 2.5%;
}
.work-field {
  display: none;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2.5%;
}
.articles {
  border-top: 5px dotted white;
  padding-top: 5%;
  margin-top: 10%;
  font-size: 20px;
}
.article-link {
  text-decoration: none;
  color: #58ACFA;
}
.fieldquote {
  color: white;
  font-size: 22px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 0;
}
